<h1>Stats Calculations</h1>

<form action="/descriptive_stats/results">

<div>
    <label for="the_numbers" class="font-weight-bold">Numbers</label>
    <input id="the_numbers" type="text" name="user_number" placeholder="Enter a list of numbers">
</div>

<div>
    <button>Calculate descriptive statistics</button>
</div>

</form>