<h1>Flexible Square Root</h1>

<p>The square of <%= @flex_square_root.to_i %> is <%= (@flex_square_root.to_f)**0.5 %>.</p>

 <!--<p>The square of <%= @flex_square_root.to_i %> is <%= @the_root %>.</p>-->