<h1>Payment Results</h1>

<dl>
    <dt>APR</dt>
    <dt><%= number_to_percentage(@the_apr.round(4), precision: 4)%></dt>
    
    <dt>Number of years</dt>
    <dt><%= @the_years %></dt>
    
    <dt>Principal</dt>
    <dt><%= number_to_currency(@the_principal.to_f.round(2)) %></dt>
    
    <dt>Payment</dt>
    <dt><%= number_to_currency(@monthly_payment.to_f.round(2)) %></dt> 
    
    <a href="/payment/new">Calculate another payment</a>
    
</dl>