<h1>Random Results</h1>

<dl>
    <dt>Minimum</dt>
    <dd class="font-weight-normal"><%= @the_minimum %></dd>
    
    <dt>Maximum</dt>
    <dd class="font-weight-normal"><%= @the_maximum %></dd>
    
    <dt>Random Number</dt>
    <dd class="font-weight-normal"><%= @the_random.round(4) %></dd>
    
    <a href="/random/new">Pick another random number</a>
</dl>