<h1>Random Calculations</h1>

<form action="/random/results">
<label for="Minimum">Minimum</label>
<input id="Minimum" type="text" name="user_minimum" placeholder="e.g., 1.5">
<label for="Maximum">Maximum</label>
<input id="Maximum" type="text" name="user_maximum" placeholder="e.g., 4.5">
<button>Pick random number</button>
</form>