<h1>Square Root Calculations</h1>

<form action="/square_root/results">
<div>
    <label for="the_num" class="font-weight-bold">Enter a number</label>
    <input id="the_num" type="text" name="user_number" placeholder="What number would you like to find the square root of?">
</div>

<div>
    <button>Calculate square root</button>
</div>

</form>