<h1>Square Calculations</h1>

<form action="/square/results">
    <div class="font-weight-bold">
        <label for="the_num">Enter a number</label>
        <input id="the_num" type="text" name="user_number" placeholder="What number would you like to square?">
    </div>
    <div>
        <button>Calculate square</button>
    </div>
</form>