<h1>Square Root Results</h1>

<dl>
    <dt>Number</dt>
    <dd class="font-weight-normal"><%= @the_input_number%></dd>
    
    <dt>Square Root</dt>
    <dd class="font-weight-normal"><%= @the_answer %></dd>
    
    <a href="/square_root/new">Calculate another square root</a>
</dl>