<h1>Word Count Calculation</h1>

<form action="/word_count/results">

<div>
    <label for="word_count_input" class="font-weight-bold">Text</label>
    <textarea id="word_count_input" type="text" rows="3" name="word_count_input" placeholder="Enter some text"></textarea>
</div>    

<div>
    <label for="special_word" class="font-weight-bold">Special word</label>
    <input id="special_word" type="text" name="special_word" placeholder="Enter a particular word to count">
</div>

<div>
    <button>Process text</button>
</div>

</form>